<div class="jumbotron">
  <h1>Welcome to Turing Chat</h1>
</div>

<div class="row">
<div class="container">

  <div id="ask" class="col-md-8">
    <div>
      <hr>
      <h2>Code of Conduct:</h2>
      <h4>Is your question about programming and a particular project at Turing?</h4>
      <p>This is a chat room to create an opportunity to discuss programming challenges.</p>
      <p><i>ALWAYS</i> Provide detail on what you've tried so far.</p>
      <p>Please keep the language suitable for a learning environment.</p>
      <p>Also, please no meme's or GIFs. They're great, but can crowd the purpose of this chat.</p>
    </div>
  </div>
  <div class="row">
   <div class="col-md-8">
     <div id="messages"></div>
     <input id="chat-input" class="form-control" type="text" placeholder="ask anything" autofocus/>
   </div>
  </div>
<br>
</div>
</div>
<footer><%= link_to "Back to the Homepage", questions_path %></footer>
