#headnav{
  background-color: black;
}

#accepted{
  color: green;
  font-size: 25px;
}

#ask{
  background-color: #FBE5C2;
}

#prof-pic{
  margin-top: 25px;
  padding-left: 4%;
}

.q-comment{
  margin-left: 3%;
}

.a-comment{
  margin-left: 3%;
}
